<!DOCTYPEhtml>
<html>
	<head>
		<title>delete</title>
	</head>
	<body style="background-color:Orchid ;font-size:larger; border-radius: 100px;margin: 25px;border-style: hidden;">
	<h1 align="center">Select the cards you want to delete</h1>
	<br>
	<form method='POST'>
	<p>
	<p>
	{%if d|length >0%}
	{%for i in d%}
	<input type="checkbox" name="titles" value="{{i.title}}" />
	<label style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color: LightPink;background-color: LightPink; border-radius: 100px;border-style: hidden;">{{i.title}}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{%endfor%}
	</p>
	<br>
	<p>
	<input style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color:LightBlue;background-color:LightBlue; border-radius: 25px; margin-left: 50%"type="submit" value = "Delete">
	{%else%}
	<h2> You don't have any cards in this deck</h2>
	{%endif%}
	</p>
	<br>
	<p>
	<a style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color:Lavender;background-color:Lavender; border-radius: 25px;"href="/{{d[0].username}}/dashboard">Go to dashboard</a>
	</p>
	</body>