<!DOCTYPEhtml>
<html>
<head>
	<title>Import</title>
<body style="background-color:MediumSlateBlue ;font-size:larger; border-radius: 100px;margin: 100px;border-style: hidden;">	<h1>Import a deck</h1>
	<h3>Csv file should be in the form question,answer</h3>
	<h2>Select the csv file you want to import</h2>
	<form method="POST" enctype="multipart/form-data">
		<p>
		Title&nbsp;&nbsp;<input type="text" name="title" required>
		</p>
		<p>
		<input type="file" name="data_file" />
		</p>
		<p>
		<input type="submit" style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color: LightBlue;background-color: LightBlue; border-radius: 25px; margin-left: 50%"/>
		</p>
	</form>
</body>
</html>