<!DOCTYPEhtml>
<html>
	<head>
		<title>export</title>
	</head>
	<body style="background-color:DarkOrchid ;font-size:larger; border-radius: 100px;margin: 100px;border-style: hidden;">
	<h1 align="center">Select the deck you want to export</h1>
	<br>
	<form method='POST'>
	<p>
	{%if d|length >0%}
	{%for i in d%}
	<input type="radio" name="title" value="{{i.title}}" />
	<label style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color: LightPink;background-color: LightPink; border-radius: 25px;">{{i.title}}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{%endfor%}
	</p>
	<br>
	<p>
	<input type="submit" value = "Export" style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color: LightBlue;background-color: LightBlue; border-radius: 25px; margin-left: 50%">
	{%else%}
	<h2> You don't have any cards in this deck</h2>
	{%endif%}
	</p>
	<br>
	<p>
	<a style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color:Lavender;background-color:Lavender; border-radius: 25px;"href="/{{d[0].username}}/dashboard">Go to dashboard</a>
	</p>
	</body>