<!DOCTYPEhtml>
<html>
	<head>
		<title>download</title>
	</head>
	<body style="background-color:DarkOrchid ;font-size:larger; border-radius: 100px;margin: 100px;border-style: hidden;">
	<br>
	<a style="text-decoration:none;border-style:solid;color:black;border-color:LightBlue;padding:30px;margin-left: 45%;background-color:LightBlue; border-radius: 25px;" href="static/{{file}}" download="{{file}}">Download</a>
	<p>
	<a style="text-decoration:none;border-style:solid;color:black;border-color:Lavender; border-radius: 25px;padding:30px;background-color:Lavender"href="/{{username}}/dashboard">Go to dashboard</a>
	</p>
	</body>