<!DOCTYPEhtml>
<html>
	<head>
		<title>create</title>
	</head>
	<body style="background-color:MediumPurple ;font-size:larger; border-radius: 100px;margin: 100px;border-style: hidden;">
	<h1 align="center">Create a card</h1>
	<form method="POST">
	<p>
	Question&nbsp;&nbsp;<input type="text" name="question" required>
	</p>
	<p>
	Answer&nbsp;&nbsp;<input type="text" name="answer" required>
	</p>
	<p>
	<input style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color: LightBlue;margin-left:50%;background-color: LightBlue; border-radius: 25px;" type="submit" name="submit_button" value="Create">
	</p>
	</form>
	</body>