<!DOCTYPEhtml>
<html>
	<head>
		<title>gameover</title>
	</head>
	<body style="background-color: AntiqueWhite ;font-size:larger; border-radius: 100px;margin: 100px;border-style: hidden;">
	<h1 align="center">Game over</h1>
	<p>
	<h2>Your score is {{d.rec_score}}</h2>
	</p>
	<p>
	<a style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color:LightPink;background-color:LightPink; border-radius: 25px;" href="/{{d.username}}/flashcard/{{d.title}}/0">Play Again</a>
	</p>
	<br>
	<p>
	<a style="text-decoration:none;color:Black;padding:30px;border-style:solid;border-color:Lavender;background-color:Lavender; border-radius: 25px;" href="/{{d.username}}/dashboard">Go to dashboard</a>
	</p>
	</body>